body {
    background-image: url("/assets/img/4883373.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    background-color: #13b0ee;
    font-family: "Silkscreen", sans-serif;
}

.navbar-brand {
    color: white;
}

h1 {
    font-family: "Bangers", system-ui;
}

.subtitle,
p {
    font-family: "VT323", monospace;
}

.btn {
    font-family: "Silkscreen", sans-serif;
}

h6,
h5 {
    font-family: "Bangers", system-ui;
}

.footer {
    background-color: #13b0ee;
    padding: 8px;
}

.footer-text {
    font-family: "Silkscreen", sans-serif;
    color: white;
    text-align: center;
    font-size: 20px;
}